<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Source+Serif+Pro&display=swap"
      rel="stylesheet">
<link rel="stylesheet" th:href="@{/style.css}">

<head>
    <meta charset="UTF-8">
    <title>Football APP</title>
</head>
<body>
<h1>MOST POPULAR LEAGUES IN EUROPE</h1>
<p><a style="text-align: center" class="button1 button" th:href="@{savedFixtures}">Go to Saved Fixtures</a></p>
<div class="container">
        <form th:each="league: ${mostPopularLeagues}" style="position: center">
            <div class="column">
                <div class="card" >
                    <p><b>League name: </b><p th:text="${league.name}"></p></p>
                    <p><b>League country: </b><p th:text="${league.country}"></p></p>
                    <p><b>Season: </b><p th:text="${league.season}"></p></p>
                    <img style="width: 80px;height: 80px"
                    th:src="${league.getLogo()}">
                    <p><a style="text-align: center" class="button1 button" th:href="@{leaguesFixturesMostPopular/{id}/5(id=${league.leagueId})}">Get Leauge last 5 fixtures</a></p>
                </div>
            </div>
        </form>
</div>

<form style="position: center" th:action="@{/findLeagues}" th:object="${requirements}" method="post">
        <p>Country name: <input type="text" th:field="*{country}" placeholder="england, poland, spain..."></p>
        <p>Season: <br><input type="text" th:field="*{season}" placeholder="year..."></p>
        <input type="submit" value="Find Leagues">
    </form>
<br>

</body>
</html>